@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1641457184142') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\f0066";
}

.icon-yinleyinpin:before {
  content: "\e6e5";
}

.icon-maikefeng:before {
  content: "\e65f";
}

.icon-yonghubangding-copy:before {
  content: "\e639";
}

.icon-gengduo:before {
  content: "\e667";
}

.icon-tel:before {
  content: "\e641";
}

.icon-gengduo-shuxiang:before {
  content: "\e8c4";
}

.icon-yigou:before {
  content: "\e61f";
}

.icon-suijibofang-:before {
  content: "\e6dd";
}

.icon-luntan:before {
  content: "\e642";
}

.icon-liebiaoxunhuan:before {
  content: "\e63d";
}

.icon-xiazai:before {
  content: "\e684";
}

.icon-shoucang:before {
  content: "\e62b";
}

.icon-wangyi:before {
  content: "\e673";
}

.icon-24gl-play:before {
  content: "\ea6d";
}

.icon-24gf-playlist:before {
  content: "\ea82";
}

.icon-bofang_zanting:before {
  content: "\e64c";
}

.icon-xiazai1:before {
  content: "\e63c";
}

.icon-shangyishoushangyige:before {
  content: "\e602";
}

.icon-wyy:before {
  content: "\e501";
}

.icon-shangyishoushangyige1:before {
  content: "\e503";
}

.icon-guangbo:before {
  content: "\e671";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-haoyoujinqun:before {
  content: "\e62f";
}

.icon-shangchuanyunpan:before {
  content: "\e6b3";
}

.icon-wangyiyunyinle1:before {
  content: "\e508";
}

.icon-youtube:before {
  content: "\e6f8";
}

.icon-yueliang:before {
  content: "\e830";
}

.icon-gengduo1:before {
  content: "\e66c";
}

.icon-yunpan:before {
  content: "\e79b";
}

.icon-bofangzanting:before {
  content: "\e70c";
}

.icon-wangyiyunyinle:before {
  content: "\e505";
}

